.categorias {
    text-align: center;
    padding: 2rem;
    color: white;
  }
  
  .categorias .videosContainer {
    display: flex;
    justify-content: center;
    
  }
  
  .categorias .card {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
   
  }

