.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grisBody);
    padding: 2rem;
    gap: 2rem;
}

.footer strong{
    color: #e3e3e3;
    font-weight: 300;
}