:root {
  --font: "Montserrat", sans-serif;
  --negro: #030910;
  --grisBody: #191919;
  --azul: #090f16;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--negro);
}
